#banner_image{
    margin-top: 15px;
    height: 500px;
    width: 1300px;
    border-radius: 5px;
    background: url( ../IMAG/img1.jpg);
    position: relative;
    box-shadow: 0px 4px 4px #180101;
    margin-bottom: 20px;
}
nav ul{
    list-style: none;
}

body{
    background-color: rgb(197, 135, 20);